<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile: {{ username }}</title>
    <link rel='icon' type='image/png' href='/favicon.ico'>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav style='background-color:#595959;'>

&nbsp; &nbsp; 
<a  style='font-size:36px; color:white;' href='/'>
    Search 
</a>
&nbsp; &nbsp; 
<a  style='font-size:36px; color:white;' href='/team_report.html'>
    Team Reports
</a> &nbsp; &nbsp;
<a  style='font-size:36px; color:white;' href='/player_report.html'>
    Player Reports
</a>
</nav>
<div class="container">
<div class="content">
	<h1>{{ username }} {{ id64 }} </h1>
	<p><b>mmr</b> {{ mmr | round(2) }} </p>
<table>
<tr>
<th>classname</th>
<th> K / M </th>
<th> D / M </th>
<th> KA / D </th>
<th> DA / M </th>
<th> DT / M </th>
<th> DS </th>
<th> Hours </th>
</tr>
{% for c in classstats %}
<tr>
	<td>{{ c.name }}</td>
	<td>{{ c.kpm | round(2) }}</td>
	<td>{{ c.depm | round(2)}}</td>
	<td>{{ c.kapd | round(2)}}</td>
	<td>{{ c.dpm | round(2)}}</td>
	<td>{{ c.dtpm | round(2)}}</td>
	<td>{{ c.ds | round(2)}}</td>
	<td>{{ c.hrs | round(2)}}</td>
</tr>
{% endfor %} 
</table>
</div>
{% if advanced_stats %} 
<div class="content">
	<b>Advanced Stats</b>
	{% for s in advanced_stats %}
	<p><b>{{ s[0] }}</b> : {{ s[1] | round(2) }}</p>
	{% endfor %}
</div>
{% endif %}
<div class="content">
<b>Common Teammates</b>
{% for tm in teammates %}
<p><a href="/players/{{ tm[1] }}.html"> {{ tm[0] }} </a></p>
{% endfor %}
</div>
<div class="content">
<h2>Glossary</h2>
<p><b>K / M </b> : Kills per Minute</p>
<p><b>D / M </b>: Deaths per Minute</p>
<p><b>KA / D </b>: Kills and assists per death</p>
<p><b>DA / M </b>: Damage per Minute</p>
<p><b>DT / M </b>: Damage taken  per Minute</p>
<p><b>DS </b>: Damage Surplus ( DA/M - DT/M )</p>
<p>log data from {{ oldest }} to {{ newest }}</p>
<p>{{ players }} players found</p>
<p>{{ games }} games analyzed</p>
</div>
</div>
</body>
</html>
