body {
    background-color:#404040;
    margin:0px;
}
td {
    width: 120px;
    padding:10px;
}
table {
	border-collapse: collapse;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
th {
    text-align:left;
    padding:10px; 
    border-bottom: 2px solid black;
}
.container {
    display:flex;
    flex-wrap: wrap;
}
.content {
	background-color:white; 
	margin:20px;
	padding:10px;
}
nav {
	background-color:#595959;
	display:flex;
	flex-wrap:wrap;
}
nav a {
	margin:5px;
	padding:3px;
	text-decoration: none;
	display:block;
	color:white;
	font-size:24px;
}

nav a:hover {
	margin:5px;
	padding:3px;
	text-decoration: none;
	display:block;
	color:grey;
	font-size:24px;
}
